<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(105deg,rgb(255, 37, 128) 0%,rgb(255, 30, 49) 100%);">
        <div class="container">
            <a class="navbar-brand" href="/view-products">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{#if admin}}
                    <li class="nav-item active">
                        <a class="nav-link" href="all-products">All Products <span class="sr-only">(current)</span></a>
                    </li>
                    {{else}}
                    <a class="nav-link" href="#" onclick="showAdmin()">All Products <span class="sr-only">(current)</span></a>
                    {{/if}}

                    {{#if admin}}
                    <li class="nav-item">
                        <a class="nav-link" href="all-orders">All Orders</a>
                    </li>
                    {{else}}
                        <a class="nav-link" href="#" onclick="showAdmin()">All Orders</a>
                    {{/if}}

                    {{#if admin}}
                    <li class="nav-item">
                        <a class="nav-link" href="all-users">All Users</a>
                    </li>
                    {{else}}
                        <a class="nav-link" href="#" onclick="showAdmin()">All Users</a>
                    {{/if}}
                    
                    
                </ul>
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{#if admin}}
                        {{admin.username}}
                        {{else}}
                        Account
                        {{/if}}
                        
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{#if admin}}
                        <a class="dropdown-item" href="admin-logout">Logout</a>
                       {{/if}}


                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<script>
    function showAdmin()
    {
        alert('STRICTLY ALLOWED FOR ADMIN ONLY..!! IF YOU ARE A ADMIN KINDLY LOGIN TO ACCESS THE CONTROLS..')
    }
</script>